@model IEnumerable<BankData.Data.Bank.UslugaSzczegolowa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grafika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pozycja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CzyAktywna)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grafika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pozycja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CzyAktywna)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUslugaSzczegolowa">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUslugaSzczegolowa">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUslugaSzczegolowa">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
