@model BankData.Data.Bank.Klient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Klient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Haslo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Haslo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miejscowosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miejscowosc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrBudynku)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrBudynku)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodPocztowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poczta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poczta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrDokumentu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrDokumentu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiczbaPunktow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiczbaPunktow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyAktywny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyAktywny)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdKlient">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
