<!DOCTYPE html>
<html lang="pl">
<head>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" asp-append-version="true">
	<link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
	<link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
	<section class="app">
		<aside class="sidebar">
			<header>Menu</header>
			<nav class="sidebar-nav">
				<ul>
					<li>
						<a href="#"><img class="intra-icon" src=~/css/Icons/content.png> <span>Zarządzanie portalem</span></a>
						<ul class="nav-flyout">
							<li>
								<a class="" href="@Url.Action("Index", "Strony")"><img class="intra-icon2" src='~/css/Icons/pages.png'>Strony</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "Usluga")"><img class="intra-icon2" src=~/css/Icons/offer.png>Oferty</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "Art1")"><img class="intra-icon2" src=~/css/Icons/art.png>Artykuł Pierwszy</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "Art2")"><img class="intra-icon2" src=~/css/Icons/art.png>Artykuł Drugi</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "Art3")"><img class="intra-icon2" src=~/css/Icons/art.png>Artykuł Trzeci</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "Kontakt")"><img class="intra-icon2" src=~/css/Icons/contact.png>Kontakt</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "ONas")"><img class="intra-icon2" src=~/css/Icons/info.png>O nas</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#"><img class="intra-icon" src=~/css/Icons/edit.png> <span class="">Edytuj oferty</span></a>
						<ul class="nav-flyout">
							<li>
								<a href="@Url.Action("Index", "KontoOsobiste")"><img class="intra-icon2" src=~/css/Icons/user.png>Konto Osobiste</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "KontoFirmowe")"><img class="intra-icon2" src=~/css/Icons/company.png>Konto Firmowe</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "Kredyt")"><img class="intra-icon2" src=~/css/Icons/loan.png>Kredyt</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "Lokata")"><img class="intra-icon2" src=~/css/Icons/deposit.png>Lokata</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "Ubezpieczenie")"><img class="intra-icon2" src=~/css/Icons/insurance.png>Ubezpieczenie</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#"><img class="intra-icon" src=~/css/Icons/shop.png> <span class="">Sklep</span></a>
						<ul class="nav-flyout">
							<li>
								<a href="@Url.Action("Index", "ListaNagrod")"><img class="intra-icon2" src=~/css/Icons/list.png>Kategorie Nagród</a>
							</li>
							<li>
								<a href="@Url.Action("Index", "Nagrody")"><img class="intra-icon2" src=~/css/Icons/reward.png>Nagrody</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</aside>
		<div class="main-box">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>
	</section>


	<footer class="border-top footer text-muted">
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
