@model IEnumerable<BankData.Data.CMS.Art1>

@{
	ViewData["Title"] = "Edycja";
	<link rel="stylesheet" href="~/css/art.css" asp-append-version="true" />
}
<h1>Pierwszy Artykuł Strony Głównej</h1>
<div class="section-1">
	<a asp-controller="Art1" asp-action="Edit" asp-route-id="@Model.First().IdArt1"><p class="p-1">@Model.First().Tytul</p>
	<div class="id-cards-field">
		<div class="id-card1">
				<h2>@Model.First().Nazwa1</h2>
				<img src="@Model.First().Grafika1" />
				<p class="p-2">@Model.First().Opis1</p>
		</div>
		<div class="id-card2">
				<h2>@Model.First().Nazwa2</h2>
				<img src="@Model.First().Grafika2" />
				<p class="p-2">@Model.First().Opis2</p>
		</div>
		<div class="id-card3">
				<h2>@Model.First().Nazwa3</h2>
				<img src="@Model.First().Grafika3" />
				<p class="p-2">@Model.First().Opis3</p>
		</div>
	</div>
		<p class="p-3">@Model.First().Podsumowanie</p>
	</a>
</div>
