@model BankData.Data.Bank.KontoFirmowe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KontoFirmowe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsluga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsluga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grafika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grafika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pozycja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pozycja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyAktywna)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyAktywna)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiczbaPunktow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiczbaPunktow)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUslugaSzczegolowa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
