@model BankData.Data.CMS.Kontakt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kontakt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tytul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrTelefonuSt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrTelefonuSt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrTelefonuKom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrTelefonuKom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdKontakt">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
